:root { 
--black_900_7f:#0000007f; 
--gray_900_13:#1c1c1c; 
--white_A700_f9:#fffffff9; 
--gray_900_10:#211727; 
--gray_900_11:#111111; 
--gray_900_12:#0f0c29; 
--blue_gray_900_a0:#263238a0; 
--gray_900_19:#13141719; 
--black_900_87:#00000087; 
--blue_800_49:#2360bb49; 
--black_900_89:#00000089; 
--light_green_600:#76bf43; 
--gray_900_0a:#080f340a; 
--black_900_84:#00000084; 
--blue_gray_900_02:#22394d; 
--blue_gray_900_01:#14183e; 
--blue_gray_800_5b:#3b39605b; 
--orange_200_08:#ffc978; 
--orange_300_8e:#ffb5568e; 
--amber_200_01:#fee382; 
--orange_200_07:#ffc376; 
--blue_gray_900:#113349; 
--orange_200_06:#f7cd84; 
--gray_900_0f:#1314170f; 
--orange_200_05:#f4bf6a; 
--orange_200_04:#f2bf6a; 
--deep_orange_100:#fdc0ae; 
--orange_200_03:#f5c06a; 
--orange_200_02:#f4c67a; 
--orange_200_01:#f5c069; 
--blue_900:#0146b1; 
--gray_900_26:#0e172b26; 
--blue_gray_100:#d3d7db; 
--amber_500:#ffc107; 
--gray_800:#4d2c5e; 
--red_400_33:#cc585433; 
--blue_gray_400_3f:#8989893f; 
--black_900_99:#00000099; 
--blue_100:#c1d7ff; 
--gray_700_02:#606d6c; 
--gray_700_01:#6f575f; 
--blue_800_e8:#2173ace8; 
--light_blue_A700_01:#0075ff; 
--teal_400:#36b37e; 
--blue_gray_200_01:#adb5bd; 
--white_A700_cc:#ffffffcc; 
--deep_orange_A100_01:#d4a373; 
--white_A700_31:#ffffff31; 
--black_900_66:#00000066; 
--gray_500_01:#999999; 
--gray_500_03:#94979b; 
--gray_500_02:#a0a0a0; 
--blue_600_01:#3891cf; 
--gray_500_05:#979797; 
--gray_500_04:#9b9a9b; 
--purple_50:#eee0ee; 
--indigo_400_02:#3d86b5; 
--indigo_400_03:#528ad5; 
--black_900_6d:#0000006d; 
--blue_gray_200:#a0aec0; 
--indigo_400_01:#4375d5; 
--red_600_01:#fc2727; 
--blue_800:#2360bb; 
--blue_gray_100_99:#d9d9d999; 
--indigo_400_04:#574ec9; 
--gray_900:#24272c; 
--gray_100:#f7f7f7; 
--blue_800_ad:#2173acad; 
--white_A700_dd:#ffffffdd; 
--black_900_77:#00000077; 
--black_900_72:#00000072; 
--orange_400_01:#feb32a; 
--orange_400_02:#fca326; 
--indigo_A400:#4d40e6; 
--blue_800_c1:#2173acc1; 
--cyan_900:#003d68; 
--light_blue_400_02:#1aaff7; 
--light_blue_400_01:#1abcfe; 
--deep_orange_A100:#d3a769; 
--blue_gray_700_ba:#275473ba; 
--red_600:#f72121; 
--light_blue_A100:#81deff; 
--green_500:#4caf50; 
--blue_gray_500_01:#3f8c86; 
--white_A700_ad:#ffffffad; 
--pink_700:#c63956; 
--gray_200_01:#e9e9e9; 
--deep_orange_300:#ff7262; 
--blue_gray_700:#275473; 
--blue_900_01:#19488e; 
--gray_200_02:#e7e7e7; 
--white_A700_af:#ffffffaf; 
--red_A700:#ff0000; 
--purple_A400_8e:#ff19da8e; 
--gray_200_03:#ebebeb; 
--gray_600:#757575; 
--light_blue_900_01:#0a68a8; 
--orange_400:#ff9933; 
--gray_400_01:#c2c2c2; 
--gray_400_02:#b5b5b5; 
--white_A700_26:#ffffff26; 
--blue_gray_700_09:#2a5674; 
--gray_400_03:#c4c4c4; 
--red_A400_01:#fa1f1f; 
--blue_300:#71acd4; 
--blue_gray_700_06:#495057; 
--blue_gray_700_05:#515151; 
--blue_gray_700_08:#455964; 
--blue_900_14:#0146b114; 
--blue_gray_700_07:#455a64; 
--blue_gray_700_02:#4a5568; 
--red_500_02:#f72f2f; 
--blue_gray_700_01:#545567; 
--blue_gray_700_04:#473f6c; 
--cyan_400:#3ab7d3; 
--indigo_300_01:#7d7bec; 
--blue_gray_700_03:#3e4a6d; 
--red_500_01:#fa3131; 
--light_blue_50_19:#cdeeff19; 
--blue_A100:#85b6ff; 
--red_500:#f54545; 
--light_blue_400:#23bdee; 
--deep_purple_100:#d2d2ff; 
--deep_purple_A700_9e:#7f00ff9e; 
--amber_A400:#ffc702; 
--green_400:#4ecb71; 
--green_A400:#0acf83; 
--black_900:#000000; 
--blue_gray_800:#39425d; 
--blue_50_02:#e3f1fb; 
--blue_50_01:#e3f1fa; 
--orange_300_6b:#ffb5566b; 
--gray_900_02:#231f20; 
--gray_700:#595959; 
--gray_900_03:#0b122e; 
--lime_400:#def656; 
--gray_900_04:#00163b; 
--gray_900_05:#07102b; 
--gray_900_00:#15151500; 
--gray_900_01:#142532; 
--blue_gray_600_01:#4c6478; 
--lime_400_01:#cbdd64; 
--blue_gray_600_02:#647179; 
--blue_gray_600_03:#3b637f; 
--gray_900_06:#1a202c; 
--gray_300_03:#dcdde1; 
--orange_300:#ffb556; 
--gray_300_02:#e5e5e5; 
--gray_900_07:#000e2d; 
--gray_300_01:#d9e1e3; 
--gray_900_08:#000f30; 
--gray_900_09:#171e3509; 
--white_A700_00:#ffffff00; 
--orange_50:#f2ebd8; 
--indigo_100:#bed0e2; 
--indigo_900:#313a70; 
--blue_200:#97cae1; 
--blue_400_01:#459edc; 
--black_900_b2:#000000b2; 
--light_green_200:#b2e8a9; 
--blue_300_01:#64acde; 
--gray_800_01:#343a40; 
--blue_gray_700_4f:#2a56744f; 
--deep_purple_200:#afa8ee; 
--black_900_01:#00000001; 
--orange_200_7f:#f5c0697f; 
--deep_orange_A700:#f11515; 
--light_blue_A700:#0093ff; 
--black_900_07:#00000007; 
--purple_700:#7737a1; 
--blue_gray_900_87:#13344987; 
--deep_purple_400_8e:#6a59af8e; 
--deep_purple_A200:#a259ff; 
--orange_300_c4:#ffb556c4; 
--cyan_200_00:#81daee00; 
--black_900_02:#030401; 
--black_900_05:#00000005; 
--lime_300:#e4e666; 
--gray_400:#c5c5c5; 
--orange_300_b5:#ffb556b5; 
--blue_gray_500:#6e6b8f; 
--amber_100:#ffe7a8; 
--black_900_0f:#0000000f; 
--black_900_0c:#0000000c; 
--yellow_700_01:#ffbb37; 
--orange_200:#f2be6b; 
--lime_300_01:#e6e875; 
--amber_100_01:#ffe8a9; 
--orange_300_05:#ebbd47; 
--orange_300_04:#ffb656; 
--orange_300_03:#fab841; 
--black_900_11:#00000011; 
--indigo_900_03:#0e0f53; 
--indigo_900_04:#03295f; 
--indigo_900_01:#000080; 
--indigo_900_02:#0f057b; 
--black_900_19:#00000019; 
--blue_gray_900_75:#26323875; 
--blue_A400_8e:#1270ff8e; 
--blue_gray_700_db:#275473db; 
--blue_gray_50:#eff0f6; 
--light_blue_200:#7ec9fd; 
--blue_gray_100_01:#d5d9df; 
--blue_gray_100_02:#d9d9d9; 
--blue_gray_100_03:#cccccc; 
--orange_300_42:#ffb55642; 
--blue_gray_100_04:#d3d1d1; 
--gray_50:#f7f7ff; 
--deep_purple_300:#9288e4; 
--blue_gray_800_04:#30404a; 
--blue_gray_800_05:#394b57; 
--blue_gray_800_02:#1e3659; 
--blue_gray_800_03:#303c4d; 
--blue_gray_800_08:#1f495e; 
--blue_gray_800_06:#37474f; 
--blue_gray_800_07:#333e57; 
--red_A400:#fc1919; 
--black_900_a0:#000000a0; 
--gray_500:#9b8a8a; 
--blue_gray_600:#5e6282; 
--blue_gray_800_00:#183b5600; 
--blue_gray_800_01:#204054; 
--black_900_a5:#000000a5; 
--indigo_300:#5d99c3; 
--blue_400:#58a3d7; 
--blue_gray_700_bf:#275473bf; 
--white_A700_7f:#ffffff7f; 
--black_900_3a:#0000003a; 
--light_blue_100:#c1f0ff; 
--red_200:#e8a9a9; 
--green_900:#138808; 
--black_900_3f:#0000003f; 
--blue_800_01:#2173ac; 
--light_blue_900:#0a67a7; 
--blue_800_02:#2274ac; 
--blue_800_03:#215dba; 
--blue_800_04:#0a66c2; 
--blue_800_05:#2277ac; 
--yellow_600:#fed130; 
--white_A700_96:#ffffff96; 
--pink_300:#df6388; 
--orange_A200:#f0ac47; 
--blue_700:#1976d2; 
--blue_gray_300:#a3acb1; 
--orange_A200_01:#feae47; 
--gray_200:#ececec; 
--blue_50:#e4edfc; 
--lime_100:#f4f1d0; 
--indigo_400:#6666b3; 
--blue_gray_700_7f:#2754737f; 
--gray_100_01:#f7f5f5; 
--blue_gray_900_33:#22394d33; 
--white_A700:#ffffff; 
--white_A700_9e:#ffffff9e; 
--deep_orange_50:#f8dfdf; 
--gray_900_0f_01:#080f340f; 
--deep_purple_500:#7838a6; 
--orange_300_02:#f4c465; 
--orange_300_01:#feb656; 
--teal_200:#8bd2bd; 
--blue_gray_900_c9:#263238c9; 
--deep_orange_600:#f24e1e; 
--yellow_700:#f9b52f; 
--indigo_500_01:#406eb5; 
--black_900_28:#00000028; 
--deep_orange_A400:#ff3d00; 
--black_900_26:#00000026; 
--deep_purple_A200_01:#966af5; 
--blue_gray_900_09:#0d1a4a; 
--white_A700_6c:#ffffff6c; 
--blue_gray_900_08:#28343d; 
--gray_600_02:#6c757d; 
--black_900_2b:#0000002b; 
--blue_gray_900_07:#242b30; 
--gray_600_01:#6e7075; 
--blue_gray_400:#8a8a8a; 
--blue_gray_900_06:#353233; 
--blue_700_02:#005de8; 
--blue_gray_900_05:#263238; 
--blue_700_01:#3680b4; 
--cyan_900_01:#086375; 
--blue_gray_900_04:#170f49; 
--blue_gray_900_03:#353535; 
--blue_600:#3880da; 
--amber_200:#ffe091; 
--light_blue_50:#cdeeff; 
--purple_300_33:#b379df33; 
--gray_300:#d8e3e7; 
--blue_gray_300_01:#95a0a7; 
--blue_gray_300_02:#8d99ae; 
--white_A700_87:#ffffff87; 
--deep_purple_500_01:#5c28d4; 
--black_900_33:#00000033; 
--cyan_700:#00a79d; 
--indigo_500:#534ea7; 
}